<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3007047369-mfk312uinfij2ri1ef6arvifs1q5r2hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3007047369-mfk312uinfij2ri1ef6arvifs1q5r2hi</string>
	<key>API_KEY</key>
	<string>AIzaSyA-AedtHYTwSPgBaQ6ZAxA0wHC8HQfk524</string>
	<key>GCM_SENDER_ID</key>
	<string>3007047369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppTwo</string>
	<key>PROJECT_ID</key>
	<string>chat-apps-453d2</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-apps-453d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3007047369:ios:f80c90e2d3ec74e8bdcf18</string>
</dict>
</plist>